/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.gitignore
/crawler.log
/crawlerstatus.txt
/mvnw
/mvnw.cmd
/gitignore.7z
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
idealista-intereview/.gitignore
src/main/resources/doc/.~lock.proceso.doc#
